[defaults]
remote_user = student
inventory = /home/student/ansible/inventory
roles_path =  /home/student/ansible/roles:/usr/share/ansible/roles
collections_path = /home/student/ansible/mycollections:/usr/share/ansible/collections:/home/student/.ansible/collections
host_key_checking = false

[privilege_escalation]
become = True
become_user = root
become_method = sudo
become_ask_pass = False
